@use '../util'as *;

.weather {

    // Main Section
    &__main {
        @include background-img(url('~/src/assets/background.jpg'), top left);
        position: relative;
        z-index: 10;
        transition: height .5s ease-in-out;
        height: 100vh;
        height: -webkit-fill-available;
        width: 100%;

        &.active {
            @include breakpoint-up(large) {
                height: 70vh;
            }

            height: 40vh;
        }
    }

    &__wrapper {
        @include absolute-center;
        height: 90%;
        width: 90%;
    }

    &__search-bar {
        @include position-absolute(unset, 0, unset, unset)
    }

    &__search-input {
        opacity: 0;
        visibility: hidden;
        transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
        border-radius: rem(50);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        padding: rem(12) rem(0) rem(12) rem(42);
        width: 0;
        background: rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(3.2px);
        -webkit-backdrop-filter: blur(3.2px);
        font-size: rem(14);
        color: var(--primary-color-light);

        &:focus {
            outline: none;
            color: var(--primary-color-light);
        }

        &::placeholder {
            font-size: inherit;
            font-family: inherit;
            color: white;
        }

        &.active {
            opacity: 1;
            visibility: visible;
            width: 60vw;

            @include breakpoint-up(medium) {
                width: 30vw;
            }

            @include breakpoint-up(large) {
                width: 20vw;
            }
        }

        @include breakpoint-up(large) {
            padding: rem(14) rem(0) rem(14) rem(42);
        }
    }

    &__search-btn {

        &.active {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%) scale(0.8);

            @include breakpoint-up(medium) {
                left: rem(6);
            }
        }
    }

    &__search-icon {
        height: rem(21);
        width: rem(21);
    }

    &__container {
        @include position-absolute(unset, unset, 0, unset);
        margin-bottom: 8rem;
        color: var(--primary-color-light);
    }

    &__weather-icon {
        opacity: 1;
        margin-bottom: rem(24);
        height: rem(70);
        width: rem(70);
        transition: opacity .3s ease-in-out;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);

        @include breakpoint-down(medium) {

            &.is-hidden {
                opacity: 0;
            }
        }

        @include breakpoint-up(medium) {
            height: rem(100);
            width: rem(100);
        }

        @include breakpoint-up(large) {
            margin-bottom: rem(36);
            height: rem(120);
            width: rem(120);
        }
    }

    &__temperature {
        font-size: rem(60);
        font-weight: 600;
        letter-spacing: rem(-3);

        @include breakpoint-up(medium) {
            font-size: rem(80);
        }

        @include breakpoint-up(large) {
            font-size: rem(90);
        }
    }

    &__button {
        @include position-absolute(unset, 0, 0, unset);
        @include flex(row, space-between, center);
        padding: rem(6) rem(6) rem(6) rem(16);
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 10px;
        width: 6.2rem;
        transition: transform .3s ease-in-out;
        background-color: var(--primary-color-light);

        &:hover {
            transform: translateY(rem(-5));
        }

        @include breakpoint-up(large) {
            padding: .5rem .5rem .5rem 1rem;
            width: 6.5rem;
        }

        &-text {
            display: block;
            text-transform: uppercase;
            font-family: 'Jost', sans-serif;
            font-weight: 500;
            letter-spacing: rem(2);
            color: var(--secondary-color-dark);
        }

        &-circle {
            position: relative;
            z-index: 100;
            border-radius: rem(30);
            height: 1.6rem;
            width: 1.6rem;
            background-color: var(--secondary-color-dark);

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                display: inline-block;
                padding: rem(2.5);
                border: solid var(--primary-color-light);
                border-width: 0 rem(2) rem(2) 0;
            }
        }

        &-circle.active {

            &::after {
                transform: translate(-45%, -45%) rotate(-135deg);
            }
        }
    }

    &::after {
        content: '';
        @include position-absolute(0, 0, 0, 0);
        z-index: -10;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: var(--overlay-color);
    }

    // More Section
    &__more {
        display: none;
        margin: 0 auto;
        padding: 3rem 0;
        width: 90%;
        color: var(--secondary-color-dark);

        &.active {
            display: flex;
        }

        @include breakpoint-up(large) {
            justify-content: center;
            align-items: center;
            padding: 0;
            height: 30vh;
            font-size: rem(16);
        }
    }

    &__more-wrapper {
        @include flex(column, space-evenly, unset);
        width: 100%;

        @include breakpoint-up(large) {
            @include flex(row, space-between, flex-start);
        }

        @include breakpoint-up(xlarge) {
            justify-content: unset;
        }
    }

    &__heading {
        margin-bottom: rem(16);
        font-size: rem(18);

        @include breakpoint-up(large) {
            margin-bottom: rem(36);
        }
    }

    &__today-highlights {

        @include breakpoint-up(large) {
            margin-right: 5%;
            width: 30%;
        }

        @include breakpoint-up(xlarge) {
            margin-right: 10%;
        }
    }

    &__detail-list {
        @include flex(row, space-between, unset);
        margin-bottom: rem(36);

        @include breakpoint-up(medium) {
            justify-content: space-between;
            flex-wrap: nowrap;
            margin-bottom: rem(36);
            text-align: center;
        }

        @include breakpoint-up(large) {
            justify-content: space-between;
            flex-wrap: wrap;
            text-align: left;
        }
    }

    &__detail-item {
        padding: unset rem(16) rem(16) unset;

        @include breakpoint-up(large) {
            padding-bottom: rem(36);
            width: 50%;
        }
    }

    &__detail-label {
        font-size: rem(10);
        font-weight: 400;
    
        &>*:not(:last-child) {
            margin-bottom: rem(16);
        }

        @include breakpoint-up(xlarge) {
            font-size: rem(14);
        }
    }

    &__detail-data {
        font-size: rem(12);
        font-weight: 700;
        text-transform: none;

        @include breakpoint-up(xlarge) {
            font-size: rem(18);
        }
    }

    &__next-days {
        width: 100%;
    }

    &__next-days-list {

        @include breakpoint-up(large) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__day-details {
        position: relative;
        @include flex(row, space-between, center);
        padding: rem(24) rem(20);
        border-radius: rem(12);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    
        &:not(:last-of-type) {
            margin-bottom: rem(16);
        }

        @include breakpoint-up(large) {
            flex-direction: column;
            flex: 1;
            margin-bottom: rem(16);
            padding: rem(12) rem(16);
           
            &:not(:last-of-type) {
                margin-right: rem(16);
            }

            &>*:not(:last-child) {
                margin-bottom: rem(16);
            }
        }

        @include breakpoint-up(xlarge) {
            padding: rem(16) rem(18);

            &>*:not(:last-child) {
                margin-bottom: rem(24);
            }
        }
    }

    &__day-date {
        font-size: rem(12);

        @include breakpoint-up(large) {
            font-size: rem(10);
        }

        @include breakpoint-up(xlarge) {
            font-size: rem(12);
        }
    }

    &__day-temp {
        font-size: rem(12);

        @include breakpoint-up(large) {
            font-size: rem(10);
        }

        @include breakpoint-up(xlarge) {
            font-size: rem(12);
        }

        &--night {
            color: var(--gray);
        }
    }

    &__day-icon {
        height: rem(16);
        width: rem(16);
        filter: invert(14%) sepia(23%) saturate(3%) hue-rotate(314deg) brightness(100%) contrast(85%);

        @include breakpoint-down(medium) {
            @include position-absolute(unset, unset, unset, 50%);
            transform: translateX(-50%);
        }

        @include breakpoint-up(large) {
            height: rem(36);
            width: rem(36);
        }
    }
}

// Overlay
.overlay {
    @include position-absolute(0,0,0,0);
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);

    &.active {
        display: block;
    }
}